.css-treeview ul,
.css-treeview li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.css-treeview input {
    position: absolute;
    opacity: 0;
}

.css-treeview a {
    color: #0088cc;
    text-decoration: none;
}

.css-treeview a:hover {
    text-decoration: underline;
}

.css-treeview input + label + ul {
    margin: 0 0 0 22px;
}

.css-treeview input ~ ul {
    display: none;
}

.css-treeview label,
.css-treeview label::before {
    cursor: pointer;
}

.css-treeview input:disabled + label {
    cursor: default;
    opacity: .6;
}

.css-treeview input:checked:not(:disabled) ~ ul {
    display: block;
}

.css-treeview label,
.css-treeview label::before {
    background: url("icons.png") no-repeat;
}

.css-treeview label,
.css-treeview a,
.css-treeview label::before {
    display: inline-block;
    height: 16px;
    line-height: 16px;,
vertical-align : middle;
}

.css-treeview label {
    background-position: 18px 0;
}

.css-treeview label::before {
    content: "";
    width: 16px;
    margin: 0 22px 0 0;
    vertical-align: middle;
    background-position: 0 -32px;
}

.css-treeview input:checked + label::before {
    background-position: 0 -16px;
}

/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .css-treeview {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }

    @-webkit-keyframes webkit-adjacent-element-selector-bugfix {
        from {
            padding: 0;
        }
        to {
            padding: 0;
        }
    }
}

body {
    /*background-color: #f5f5f5;*/
}

.leftNews {
    margin-left: 0;
}

.btnRead {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
}

.nav-tabs > li {
    margin-bottom: -2px;
}

td.active a {
    color: #fff;
}

.boockname {
    margin-top: 5px;
    height: 30px;
}

#adminContent:before {
    height: 50px;
}

.leftPanel {
    background: linear-gradient(to right, #3a3633 93%, #2a2725 100%);
}

.flip3D {
    width: 270px;
    height: 250px;
    margin-left: 30px;
    margin-bottom: 30px;
    float: left;
}

.flip3D > .front {
    display: table;
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    background: #FAF;
    width: 270px;
    height: 250px;
    border-radius: 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s;
}

.flip3D > .front > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.flip3D > .back {
    display: table;
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    background: #80BFFF;
    width: 270px;
    height: 250px;
    border-radius: 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s;
}

.flip3D > .back > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.flip3D:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
    -webkit-transform: perspective(600px) rotateY(-180deg);
}

.flip3D:hover > .back {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
}
